@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Logo.png" class="rounded mx-auto d-block" alt="FutArabi">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
         <div class="input-group mt-4">
            <input type="search" name="query" class="form-control rounded" placeholder="اسم اللاعب" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">البحث</button>
          </div>
    }
    <p class="mt-4">لست عضواً؟ <a class="text-decoration-none" href="https://docs.microsoft.com/aspnet/core">سجّل الان</a>.</p>
</div>
