@model IEnumerable<futArabicom.Models.Player>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/Images/Logo.png" class="rounded mx-auto d-block img-fluid" alt="FutArabi">
    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
         <div class="input-group mt-5">
            <input type="search" name="query" class="form-control rounded" placeholder="اسم اللاعب" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">البحث</button>
          </div>
    }
    <p class="mt-4">لست عضواً؟ <a class="text-decoration-none" href="https://docs.microsoft.com/aspnet/core">سجّل الان</a>.</p>

    @if (Model != null)
    {
        <div class="container rounded-3 bg-richBlack pt-3">
            <div class="mb-3">
                <span class="display-4 bg-minionYellow-text">تريند اللاعبين</span>
            </div>
            <div class="row g-0">
                @foreach (var item in Model)
                {
                    <div class="col-sm-2">
                        <!--<p class="display-4">@item.Name</p>-->
                        <a href="@Url.Action("Details", "Players", new {  id=item.Id  })">
                            <img id="trendingPlayerCard" src="~/Images/playerCard.png" class="rounded mx-auto d-block img-fluid" alt="FutArabi">
                        </a>
                    </div>
                }
            </div>
        </div>
    }

</div>
