@model futArabicom.Models.PlayerEditModel

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="container">
    <div class="row justify-content-center">
        <p class="display-6"> تعديل </p>
        <div class="col-md-4">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"> الإسم</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NameAr" class="control-label">الإسم بالعربيّة</label>
                    <input asp-for="NameAr" class="form-control" />
                    <span asp-validation-for="NameAr" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label">الدولة</label>
                    <input asp-for="Country" class="form-control" />
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                            <div class="form-group">
                    <label asp-for="Description" class="control-label">الوصف</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input type="file"
                        
                           name="playerImage"
                           asp-for="Image"
                           class="form-control" />
                </div>
           
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
